div .entete h1 {
  display: inline-block;
  width: auto;
}

table, td, tr {
  border: 1px solid black;
}

#previsualisation {
  border: 3px solid grey;
  margin: 10px;
}

#codeGenerer {
  border: 3px solid black;
  margin: 10px;
}

.boutonCopie {
  background-color: white;
  background-image: url('../images/icone_copie.png');
  width: 2.125rem;
  height: 2.125rem;
}